<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.ico">

    <!-- Arcgis Stylesheet & Library -->
    <link rel="stylesheet" href="https://js.arcgis.com/4.27/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.27/"></script>

    <!-- Script -->
    <script src="/js/tailwindV4.js"></script>
    <script src="/js/esriAPI.js"></script>

    <!-- Map Style CSS -->
    <link rel="stylesheet" href="/css/map.css">

    <!-- Page Title -->
    <title>Eat & Work แผนที่ค้นหาสถานที่น่านั่งทำงานและร้านอาหาร จ.ขอนแก่น</title>
</head>

<body>
    <div class="h-screen flex justify-center">
        <div id="viewDiv"></div>
    </div>
    <script src="/js/index.js"></script>
</body>

</html>